/* .card {
    width: 300px;
    border-radius: 10px;
    border: 2.5px solid aliceblue;
    padding: 10px;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    width:fit-content;
  }

  .card h3 {
    margin-top: 0;
  }

  .card p {
    margin-bottom: 0;
  } */